.section{
    /* padding: 1em; */
    padding-top: 5em;
    background: var(--container-color);
}
.animation{
    /* border-radius: 100%; */
    /* border-radius: 500em; */
}
.wrapper{
    padding: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    min-height: 80vh;
    margin-right: 6em;
}
.heroLeft{
    width: 70%;
}
.heroLeft input{
    padding: 12px 8px;
    border-radius: 4px;
    width: 12rem;
}
.heroLeft button{
    padding: 12px 8px;
    min-width: 8em;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;

}
.heroLeft button:hover{
    color: #000;
    background: var(--primary-color);
}
.heroLeft h1{
    font-size: var(--h1-font-size);
    text-shadow: 2px 2px hsl(0, 0%, 0%), -2px 2px hsl(0, 0%, 0%), 2px -2px hsl(0, 0%, 0%), -2px -2px hsl(0, 0%, 0%), 5px 5px rgb(0 0 0 / 20%);
}

.heroRight{
    width: 30%;
    /* margin-left: 10em; */
}
.result{
    margin-top: 4em;
}

@media (max-width: 1036px){
    .heroLeft{
        width: 60%;
    }
    .heroRight{
        width: 40%;
    }
    .heroLeft h1{
        font-size: var(--h2-font-size);
        
    }
    
}

@media (max-width: 830px){
    .wrapper{
        padding: 4em;
    }
    .heroLeft{
        width: 75%;
    }
    .heroRight{
        width: 25%;
    }
    .animation{
        width: 35vw;
        height: 25vw;
    }

}
@media (max-width: 580px){
    .wrapper{
        flex-direction: column-reverse;
        margin-right: 0;
        
        /* margin: 0 auto; */
        
    }
    .heroLeft{
        text-align: center;
        width: 100%;
    }
    .heroRight{
        width: 100%;
        padding-left: 25%;
        
    }
    
    .animation{
       
    }
    
}

