* {
  font-family:'Courier New', Courier, monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  border-collapse: collapse;
  border: 4px solid;
  border-radius: 30px;
  margin: 30px;
  background-image: linear-gradient(to bottom right, rgb(6, 12, 18), #1b263bff);
}



a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

