.footer{
    text-align: center;
    /* padding: 1em 0; */
    margin: 0 0.75em;
    
}
.wrapper{
    background: var(--bg-color);
    padding: 1em 0;

}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2em;
    
}
.link{
    margin: 0 0.5em;
    color: rgb(121,203,255);
}
.footer2{
    text-align: center;
    display: none;
    margin: 0 0.75em;

    
    
}
.link:hover{
    color: var(--primary-color);
}
.projectLink{
    text-align: center;
    display: none;
}

@media (max-width: 742px) {
    .footer{
        display: none;
    }
    .footer2{
        display: block;
    }
    .links{
        /* justify-content: space-around; */
        margin-top: 1em;
    }
    
}

@media (max-width: 540px){
    .projectLink{
        display: block;
        background: var(--container-color);
        padding: 1em 0;
        text-decoration: underline;
        border-top: 3px solid var(--text-color);
        border-bottom: 3px solid var(--text-color);
    }
}